.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: hidden; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.5); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: rgb(0,0,0);
    margin: 5% auto; /* 15% from the top and centered */
    padding: 0px;
    border: 4px solid #888;
    width: 72.5%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.specclose {
    color: #aaa;
    float: right;
    font-size: 35px;
    font-weight: 100;
    padding-right: 1%;
    padding-top: 0.5%;
}

.specclose:hover,
.specclose:focus {
    color: #e14646;
    text-decoration: none;
    cursor: pointer;
}

.qtsclose {
    color: #aaa;
    float: right;
    font-size: 35px;
    font-weight: 100;
    padding-right: 1%;
    padding-top: 0.5%;
}

.qtsclose:hover,
.qtsclose:focus {
    color: #e14646;
    text-decoration: none;
    cursor: pointer;
}
.priceclose {
    color: #aaa;
    float: right;
    font-size: 35px;
    font-weight: 100;
    padding-right: 1%;
    padding-top: 0.5%;
}

.priceclose:hover,
.priceclose:focus {
    color: #e14646;
    text-decoration: none;
    cursor: pointer;
}
.checkoutclose {
    color: #aaa;
    float: right;
    font-size: 35px;
    font-weight: 100;
    padding-right: 1%;
    padding-top: 0.5%;
}

.checkoutclose:hover,
.checkoutclose:focus {
    color: #e14646;
    text-decoration: none;
    cursor: pointer;
}

.greetingsclose {
    color: #aaa;
    float: right;
    font-size: 35px;
    font-weight: 100;
    padding-right: 1%;
    padding-top: 0.5%;
}

.greetingsclose:hover,
.greetingsclose:focus {
    color: #e14646;
    text-decoration: none;
    cursor: pointer;
}
.qtscloseother {
    color: #aaa;
    float: right;
    font-size: 35px;
    font-weight: 100;
    padding-right: 1%;
    padding-top: 0.5%;
}

.qtscloseother:hover,
.qtscloseother:focus {
    color: #e14646;
    text-decoration: none;
    cursor: pointer;
}
.availabilityclose {
    color: #aaa;
    float: right;
    font-size: 35px;
    font-weight: 100;
    padding-right: 1%;
    padding-top: 0.5%;
}

.availabilityclose:hover,
.availabilityclose:focus {
    color: #e14646;
    text-decoration: none;
    cursor: pointer;
}
.itemDetailsclose {
    color: #aaa;
    float: right;
    font-size: 35px;
    font-weight: 100;
    padding-right: 1%;
    padding-top: 0.5%;
}

.itemDetailsclose:hover,
.itemDetailsclose:focus {
    color: #e14646;
    text-decoration: none;
    cursor: pointer;
}
.cartclose {
    color: #aaa;
    float: right;
    font-size: 35px;
    font-weight: 100;
    padding-right: 1%;
    padding-top: 0.5%;
}

.cartclose:hover,
.cartclose:focus {
    color: #e14646;
    text-decoration: none;
    cursor: pointer;
}
.filterclose {
    color: #aaa;
    float: right;
    font-size: 35px;
    font-weight: 100;
    padding-right: 1%;
    padding-top: 0.5%;
}

.filterclose:hover,
.filterclose:focus {
    color: #e14646;
    text-decoration: none;
    cursor: pointer;
}
.no-more-items-close {
    color: #aaa;
    float: right;
    font-size: 35px;
    font-weight: 100;
    padding-right: 1%;
    padding-top: 0.5%;
}

.no-more-items-close:hover,
.no-more-items-close:focus {
    color: #e14646;
    text-decoration: none;
    cursor: pointer;
}

.loginclose {
    color: #aaa;
    float: right;
    font-size: 35px;
    font-weight: 100;
    padding-right: 1%;
    padding-top: 0.5%;
}

.loginclose:hover,
.loginclose:focus {
    color: #e14646;
    text-decoration: none;
    cursor: pointer;
}