body {
    background-image: url('../image/background.jpg');
}
h1 {
    text-align:center;
    padding: 30px 0px 0px 0px;
    margin: 10px;
    font-family:Calibri;
    color: #4d4d4d;
}
p {
    text-align:center;
    padding: 30px 0px 0px 0px;
    margin: 10px auto;
    font-family:Calibri;
    color: #4d4d4d;
}
.form {
    text-align:center;
  width: 100%;
  margin: 0 auto;
}
.brand-help, .model-help{
    text-align:center;
    margin: 0 auto;
    color: #4d4d4d;
}
input[type="text"] {
    height: 47px;
    width: 401px;
    border: solid 1px #a6a6a6;
    outline: 0;
    font: normal 13px/100% Verdana, Tahoma, sans-serif;
    background: #FFFFFF left top repeat-x;
    background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));
    background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
    box-shadow: rgba(0, 0, 0, 0.1) 0 0 8px;
    -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 0 8px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 0 8px;
    margin-bottom: 10px;
    padding: 20px 0px 15px 12px;
}

input:focus {
  box-shadow: inset 4px 6px 10px -4px rgba(0, 0, 0, 0.7), 0 1px 1px -1px rgba(255, 255, 255, 0.3);
  -webkit-transition: 1s ease;
  -moz-transition: 1s ease;
  -o-transition: 1s ease;
  -ms-transition: 1s ease;
  transition: 1s ease;
}

input[type="submit"]:hover {
  opacity: 1;
  cursor: pointer;
}

.brand-help, .model-help {
  display: none;
  padding: 0px;
  margin: 0px 0px 15px 0px;
}

.optimize {
  position: fixed;
  right: 3%;
  top: 0px;
}

.ui-autocomplete {
    font-family:Calibri;
    font-size: 16px;
    background-color:#cccccc;
}

.ui-state-focus{
        background:none;
        border:none;
        font-family:Calibri;
        font-size: 16px;        

    }
.ui-menu .ui-menu-item{
    color:#1a1a1a;
    border:none;
    background-color:#cccccc;    
}
.soflow {
   -webkit-appearance: button;
   -webkit-border-radius: 0px;
   -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
   box-shadow: rgba(0, 0, 0, 0.1) 0 0 8px;
   -webkit-padding-end: 0px;
   -webkit-padding-start: 0px;
   -webkit-user-select: none;
   background-image: url(../image/dropdown.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
   background-position: 97% center;
   background-repeat: no-repeat;
   border: solid 1px #a6a6a6;
   color: #262626;
   font-size: 14px;
   margin: 10px;
   overflow: hidden;
   padding: 13px 0px 15px 8px;
   text-overflow: ellipsis;
   white-space: nowrap;
   width: 397px;
   height: 47px;
   font-family:Calibri;
}