﻿<link href="../Resource/css/bootstrap.min.css" rel="stylesheet" />
<link href="../Resource/css/cart-main.css" rel="stylesheet" />
<link href="../Resource/css/buy-detail-item-style.css" rel="stylesheet" />
<link href="~/Resource/css/modal.css" rel="stylesheet" />
<link href="~/Resource/css/buy-reset.css" rel="stylesheet" />
<link href="~/Resource/css/buy-style.css" rel="stylesheet" />
<script src="~/Scripts/jquery-2.2.3.min.js"></script>
<script src="~/Scripts/jquery.cookie.js"></script>
<script src="~/Scripts/buy-modernizr.js"></script>
<script src="~/Scripts/buy-all-gadgets.js"></script>
<link href="../Resource/css/button.css" rel="stylesheet" />
<script src="../Scripts/buy-boxOver.js"></script>
<script src="../Scripts/buy-windowopen.js"></script>

@{
    Layout = null;
}

<!DOCTYPE html>
<meta http-equiv="PRAGMA" content="NO-CACHE">
<html>
<head>
    <link href="~/Resource/css/jquery-ui.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-ui.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title>Device Gallery</title>
</head>
<body>
    <!--filter-->
    <div id="filter-division" style="padding-left:0%; padding-top:3%">
        <a id="filter" title="filter items" class="w3-btn-floating-large" style="font-size:medium; background-color:#888888">Filter</a> 
        <div style="padding-left:85%">
            <span class="filterclose" title="close filter window" id="filterclose" style="z-index:1; display:none; position:fixed; padding-top:0%; font-size:40px; text-shadow:0 0 5px #f30606 ">
                x
            </span>
        </div>  
        <div id="filter-division-after" style="padding-left:0%;">
            <a id="by-brand" title="filter by brand" class="w3-btn-floating-large" style="display:none; font-size:small; background-color: #46b29d">Brands</a>
            <a id="by-price" title="filter by price" class="w3-btn-floating-large" style="display:none; font-size:small; background-color: #253fd0">Price</a>           
         </div>             
    </div>   

    <!-- filter-by-brands -->  
    <div id="filter-brands" style="width:73.5%; height:35%; position:fixed; left:9%; top:16%; display:none; z-index:2; box-shadow:0 0 6px 0px #24796f; background-color:#f2f5f4; overflow-y:auto">
        <table id="brand-filter-table" style="width:100%;"></table>
        <div style="padding-left:92%; padding-top:8%">
            <input type="button" title="apply filter" class="w3-btn w3-ripple w3-teal" id="apply-brand-filter" value="Apply" />
        </div>
    </div> 

    <!--slider-->
    <div id="price-slider" style="position: fixed; left: 9%; top: 16%; width:35%; height:18%; display: none; z-index: 2; box-shadow: 0 0 6px 0px #253fd0; background-color: #f2f5f4">
        <p>
            <label for="amount" id="price-amount"></label>
            <input type="text" id="amount" readonly style="border:0; color:rgb(37, 63, 208); font-weight:600">
        </p>
        <div id="slider-range" ></div>
        <div style="padding-left:83%; padding-top:7%"><input type="button" id="apply-price-filter" class="w3-btn w3-ripple" value="Apply" style="background-color: #253fd0" " /></div>
    </div>  
    
     
    <!-- Item-gallery -->  
    <div id="item-gallery" style="position:absolute; left:0%; top:12%; width:100%">        
        <ul class="cd-gallery" id="device-gallery" style="display:block"></ul> 
        <div id="show-more-div" style="padding-left:50%; display:inherit">
            <a id="show-more" title="show more" href="#"><img id="show-more-img" src="../../Resource/image/arrow_down.jpg" style="width:10%; height:10%" /></a>
        </div>
    </div>
    <div id="no-more-items-modal" class="modal" style="position:fixed; z-index:10000; width:30%; height:10%; left:50%; top:10%; padding-left:2%; background-color:#f7e9e9">
        <span class="no-more-items-close" id="no-more-items-close" style="padding-right:1%; font-size:large; padding-top:0px">
            x
        </span>
        <div id="no-more-items">
            <p style="padding-top:8px">Single item can not be ordered more than 9 times</p>
        </div>
    </div>
    <a id="cart" title="cart" href="#0" class="cd-cart">
        <span>0</span>
    </a>
    <div style="padding-left:95%; padding-top:35%; position:fixed">
        <a id="clear-brand-filter" title="clear filter" class="w3-btn-floating" style="font-size: small; display:none; background-color:#e07319">clear</a>
    </div>  
    <!--Item details modal-->
    <div id="item-details-modal" class="modal" style="background-color:white; padding-left:15%; width:108%">
        <span class="itemDetailsclose" style="padding-right:1%">
            x
        </span>
        <div id="item-details">
            <form method="post">              
                <div class="prod_box_big">
                    <div class="top_prod_box_big"></div>
                    <div class="center_prod_box_big" style="width:200%">
                        <div class="product_img_big" style="width:50%">
                            <img id="main-pic" style="width:88%" />
                            <div class="thumbs"> 
                                <a id="thumb1link" title="header=[picture 1] body=[&nbsp;] fade=[on]" onclick="changeThumbOne()">
                                    <img id="thumb1" src="" alt="" border="0" style="width:15%" />
                                </a> 
                                <a id="thumb2link" title="header=[picture 2] body=[&nbsp;] fade=[on]" onclick="changeThumbTwo()">
                                    <img id="thumb2" src="" alt="" border="0" style="width:15%" />
                                </a>
                            </div>
                        </div>
                        <div class="details_big_box">
                            <div class="product_title_big" id="name"></div>
                            <div class="specifications" style="width:160%; padding-top:10%">
                                <table style="width:200%" class="table table-striped">
                                    <thead>Specifications</thead>
                                    <tr>
                                        <td>Ram</td>
                                        <td><span class="blue" id="ram"></span></td>
                                    </tr>
                                    <tr>
                                        <td>Memory</td>
                                        <td><span class="blue" id="memory"></span></td>
                                    </tr>
                                    <tr>
                                        <td>Camera</td>
                                        <td><span class="blue" id="camera"></span></td>
                                    </tr>
                                    <tr>
                                        <td>Release Date</td>
                                        <td><span class="blue" id="release-date"></span></td>
                                    </tr>
                                    <tr>
                                        <td>Device Condition</td>
                                        <td><span class="blue" id="condition"></span></td>
                                    </tr>
                                </table>
                            </div>
                            <div class="prod_price_big"><span class="price" id="price"></span></div>
                            <div style="padding-bottom:20%" id="details-modal-buy-section">
                            </div>
                            
                            <div style="width:200%">
                                <h3 style="font-family: Arial, Helvetica, sans-serif; color:black">Description</h3>
                                <p style="font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #000">This is product description. This is product description. This is product description. This is product description.</p>
                            </div>
                            <style>
                                h3 {
                                    display: block;
                                    font-size: .9em;
                                    -webkit-margin-before: 0em;
                                    -webkit-margin-after: 1em;
                                    -webkit-margin-start: 0px;
                                    -webkit-margin-end: 0px;
                                    font-weight: bold;
                                    }
                            </style>
                        </div>
                    </div>
                    <div class="bottom_prod_box_big"></div>
                </div>
            </form>
        </div>
    </div>

    <!--Cart modal-->
    <div id="cart-item-modal" class="modal" style="background-color:white; padding-left:15%; width:108%; overflow-y:auto">
        <span class="cartclose" style="padding-right:1%">
            x
        </span>
        <div id="cart-item-list">
            <div id="item-details">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Product Name</th>
                                <th style="text-align:left">Quantity</th>
                                <th>Unit Price</th>
                                <th>Sum Total</th>
                            </tr>
                        </thead>
                        <tbody id="cart-body">
                        </tbody>
                    </table>
                    <div style="padding-left:76%; padding-top:4%">
                        <input type="button" value="Place Order" id="place-order-button" class="prokart_button" style="width:250px; height:8%; background-color:#253fd0; border-color:#8e4009" />   
                    </div>                                     
            </div>
        </div>
        </div>
</body>
</html>
