﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="~/Resource/css/login_signup.css">
    <link rel="stylesheet" type="text/css" href="~/Resource/css/notification.min.css" />
    <script type="text/javascript" src="~/Scripts/jquery-2.2.3.min.js"></script>
    <script type="text/javascript" src="~/Scripts/prokart_signup.js"></script>
    <script type="text/javascript" src="~/Scripts/prokart_login.js"></script>
    <script type="text/javascript" src="~/Scripts/forgot-password.js"></script>
    <script type="text/javascript" src="~/Scripts/notifications.min.js"></script>
</head>
<body>
    <div class="form">
        <ul class="tab-group">
            <li class="tab active"><a href="#signup" onclick="signup();">Sign Up</a></li>
            <li class="tab"><a href="#login" onclick="login();">Log In</a></li>
        </ul>

        <div class="tab-content" id="tab-content">
            <div id="signup">
                <h3 style="font-size: 30px;color: white; padding-bottom:15px" align="center">Sign Up for Free</h3>
                <form action="#" method="post" id="prokart_signup_form">

                    <div class="top-row">
                        <div class="field-wrap">
                            <input type="text" id="prokart_firstname"
                                   name="prokart_firstname" minlength="1" maxlength="49"
                                   required autocomplete="off" placeholder="First Name" />
                            <div style="padding-top: 4%;" id="error_prokart_firstname"></div>
                        </div>

                        <div class="field-wrap">
                            <input type="text" id="prokart_lastname" minlength="1"
                                   maxlength="49" required autocomplete="off"
                                   placeholder="Last Name" />
                            <div style="padding-top: 4%;" id="error_prokart_lastname"></div>
                        </div>
                    </div>

                    <div class="field-wrap">
                        <input type="email" id="prokart_email" minlength="10"
                               maxlength="99" required autocomplete="off"
                               placeholder="Email" />
                        <div style="padding-top: 2%;" id="error_prokart_email"></div>
                    </div>
                    <div id="prokart_loading" class="loader"
                         style="position: absolute;"></div>
                    <div class="field-wrap">
                        <input type="text" id="prokart_mobile" minlength="10"
                               maxlength="10" required autocomplete="off"
                               placeholder="Mobile" />
                        <div style="padding-top: 2%;" id="error_prokart_mobile"></div>
                    </div>

                    <div class="field-wrap">
                        <input type="password" id="prokart_password" minlength="5"
                               maxlength="49" required autocomplete="off"
                               placeholder="Set A Password" />
                        <div style="padding-top: 2%;" id="error_prokart_password"></div>
                    </div>

                    <button id="prokart_signup" type="submit"
                            class="button button-block">
                        Get Started
                    </button>

                </form>

            </div>

            <div id="login">
                <h3 style="font-size: 30px;color: white; padding-bottom:15px" align="center">Welcome Back!</h3>
                <form action="#" method="post" id="prokart_login_form">
                    <div class="field-wrap">
                        <input type="email" id="prokart_login_email" minlength="10"
                               maxlength="99" required autocomplete="off"
                               placeholder="Login with your Email" />
                        <div style="padding-top: 2%;" id="error_prokart_login_email"></div>
                    </div>
                    <div id="prokart_loading_login" class="loader"
                         style="position: absolute;"></div>
                    <div class="field-wrap">
                        <input type="password" id="prokart_login_password" minlength="5"
                               maxlength="49" required autocomplete="off"
                               placeholder="Enter your password" />
                        <div style="padding-top: 2%;" id="error_prokart_login_password"></div>
                    </div>
                    <p class="forgot" style="padding-bottom:10px; color:#1ab188">
                        <a href="#" onclick="return forgotPassword();">Forgot Password?</a>
                    </p>

                    <button id="prokart_login" type="submit"
                            class="button button-block">
                        Log In
                    </button>

                </form>
                <div style="padding-top: 10px;">
                    <button style="" id="prokart_login_fb" type="button"
                            class="fb_google_button fb_button">
                        Login with Facebook
                    </button>
                    <button style="width:50%" id="prokart_login_google" type="button"
                            class="fb_google_button google_button">
                        Login with Google
                    </button>
                </div>
            </div>

        </div>
        <!-- tab-content -->
        <div id="forgot_pwd">
            <h3 style="font-size: 30px;color: white; padding-bottom:15px" align="center">Forgot Password!</h3>
            <div class="field-wrap">
                <input type="email" id="forgot_prokart_email" minlength="10"
                       maxlength="99" required autocomplete="off"
                       placeholder="Your registered Email Id" />
                <div style="padding-top: 2%;" id="forgot_error_prokart_email"></div>
            </div>
            <div class="field-wrap">
                <input type="password" id="forgot_prokart_password" minlength="5"
                       maxlength="49" required autocomplete="off"
                       placeholder="New Password" />
                <div style="padding-top: 2%;" id="forgot_error_prokart_password"></div>
            </div>
            <div class="field-wrap">
                <input type="password" id="forgot_prokart_cnfpassword" minlength="5"
                       maxlength="49" required autocomplete="off"
                       placeholder="Confirm New Password" />
                <div style="padding-top: 2%;" id="forgot_error_prokart_cnfpassword"></div>
            </div>
            <div class="field-wrap" id="prokart_otp">
                <input type="text" id="forgot_prokart_otp" minlength="6"
                       maxlength="6" required autocomplete="off"
                       placeholder="Enter OTP send to your mobile number" />
                <div style="padding-top: 2%;" id="forgot_error_prokart_cnfpassword"></div>
            </div>
            <button id="forgot_prokart_pwd_change" type="submit"
                    class="button button-block">
                Change Password
            </button>
        </div>
    </div>
    <div>
        <input type="hidden" id="prokart_otp_response">
        <input type="hidden" id="prokart_otp_create_time">
    </div>
</body>
</html>
