﻿<link href="~/Resource/css/modal.css" rel="stylesheet" />
<link href="~/Resource/css/jquery-ui.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-2.2.3.min.js"></script>
<script src="~/Scripts/jquery-ui.min.js"></script>
<link href="~/Resource/css/spin.css" rel="stylesheet" />
<link href="~/Resource/css/button.css" rel="stylesheet" />
<link href="~/Resource/css/table.css" rel="stylesheet" />
<link href="~/Resource/css/search-main.css" rel="stylesheet" />
<script src="~/Scripts/checkout.js"></script>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CheckOut</title>
</head>
<body style="background-image:url(../../Resource/image/background.jpg)">
    <form class="form" method="post" id="checkout" name="checkout">
        <input type="hidden" id="from-controller-price_estimate" value="@Session["PriceEstimate"]" />
        <div style="position:relative">
            <p style="font-size:22px; font-family:Calibri; padding-right:13%">Please fill in the below required details so that we can schedule a pickup for you..</p>
        </div>
        <p id="head"></p>
        <div style="position:absolute; padding-left:5.5%; padding-top:1%">
            <input type="text" placeholder="First Name" id="f-name" style="margin-bottom: 3%" />
            <input type="text" placeholder="Last Name" id="l-name" /><br />
            <input type="text" placeholder="Email Address" id="email" style="margin-bottom: 3%" />
            <input type="text" placeholder="Mobile Number" id="mobile" /><br />
            <input type="text" placeholder="Address Line 1" id="address1" style="width:100%; margin-bottom:3%" /><br />
            <input type="text" placeholder="Address Line 2" id="address2" style="width:100%; margin-bottom:3%" /><br />
            <input type="text" placeholder="PIN Code" id="pin" style="width:50%; margin-right:31.59%; margin-bottom:5%" />
            <input type="button" class="prokart_button" id="proceed-greetings" value="Pickup" style="height:45px; vertical-align:middle" />
            <input type="checkbox" id="t-and-c" style="float: left; margin-top: 5px" class="checkbox_check" />
            <div style="margin-right:57%; font-family:Calibri">
                I have read and accept all the <a href="~/Service/terms_and_conditions.html" target="_blank">terms & conditions</a>
            </div>
        </div>
        <div id="greetings-modal" class="modal" style="background-color: rgba(84, 84, 84, 0.96)">
            <span class="greetingsclose" style="padding-right:33%; padding-top:2%">x</span>
            <div class="modal-content" id="greetings-popup-body" style=" background-color: rgba(245, 245, 245, 0.96); width:29%; height:25%">
            </div>
        </div>
    </form>
    <div id="prokart-loading-checkout" class="loader" style="position:fixed; top:50%; left:50%"></div>
</body>
</html>
