﻿<link href="~/Resource/css/jquery-ui.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-2.2.3.min.js"></script>
<script src="~/Scripts/jquery-ui.min.js"></script>
<script src="~/Scripts/greetings.js"></script>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Greetings</title>
</head>
<body style="background-image:url(../../Resource/image/background.jpg)">
    <input type="hidden" id="from-controller-checkout" value="@Session["CheckOut"]" />
    <div>
        <p id="name" style="padding-right:57%; margin:0px auto"></p>
    </div>
    <div>
        <p id="message" style="margin:0px auto; padding-top:10px"></p>
    </div>
</body>
</html>
