﻿<link href="~/Resource/css/modal.css" rel="stylesheet" />
<link href="~/Resource/css/jquery-ui.min.css" rel="stylesheet" />
<link href="~/Resource/css/spin.css" rel="stylesheet" />
<script src="~/Scripts/jquery-2.2.3.min.js"></script>
<script src="~/Scripts/jquery-ui.min.js"></script>
<link href="~/Resource/css/button.css" rel="stylesheet" />
<link href="~/Resource/css/table.css" rel="stylesheet" />
<link href="~/Resource/css/search-main.css" rel="stylesheet" />
<script src="~/Scripts/other-devices.js"></script>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>OtherDevices</title>
</head>
<body style="background-image:url(../../Resource/image/background.jpg)">
    <form class="form" method="post" id="other-device" name="other-device">
        <div>
            <p style="font-size:22px; font-family:Calibri; padding-left:.5%">Please fill in the below specification fields. This will help us estimating the resale value of your device..</p>
            <p style="font-size:15px; font-family:Calibri; padding-right:33%; padding-top:0%">If exact value is not present for any of the fields, please choose the nearest. </p>
            <p style="font-size:15px; font-family:Calibri; padding-right:23%; padding-top:0%">You can find your device specification from Internet or from your device settings > About phone..</p>
        </div>
        <div>
            <table>
                <tr>
                    <td style="padding-left:2.5%; padding-top:2%">
                        <input type="text" placeholder="Brand Name" id="other-brand" />
                        <div id="brand-error" class="brand-error"></div>
                    </td>
                    <td style="padding-left:2.5%; padding-top:2%">
                        <input type="text" placeholder="Model Name" id="other-model" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <select id="ram" class="soflow">
                            <option value="" disabled selected>RAM Memory</option>
                            <option>512 MB</option>
                            <option>1 GB</option>
                            <option>1.5 GB</option>
                            <option>2 GB</option>
                            <option>3 GB</option>
                            <option>4 GB</option>
                            <option>6 GB</option>
                            <option>8 GB</option>
                            <option>16 GB</option>
                        </select>
                    </td>
                    <td>
                        <select id="internal-memory" class="soflow">
                            <option value="" disabled selected>Internal Memory</option>
                            <option>512 MB</option>
                            <option>1 GB</option>
                            <option>2 GB</option>
                            <option>4 GB</option>
                            <option>8 GB</option>
                            <option>16 GB</option>
                            <option>32 GB</option>
                            <option>64 GB</option>
                            <option>128 GB</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <select id="camera" class="soflow">
                            <option value="" disabled selected>Camera</option>
                            <option>0 MP</option>
                            <option>1.3 MP</option>
                            <option>2 MP</option>
                            <option>4 MP</option>
                            <option>5 MP</option>
                            <option>8 MP</option>
                            <option>10 MP</option>
                            <option>13 MP</option>
                            <option>16 MP</option>
                            <option>21 MP</option>
                        </select>
                    </td>
                    <td>
                        <select id="age" class="soflow">
                            <option value="" disabled selected>Year of Purchase</option>
                            <option>2016</option>
                            <option>2015</option>
                            <option>2014</option>
                            <option>2013</option>
                            <option>2012</option>
                            <option>2011</option>
                            <option>2010</option>
                            <option>2009</option>
                            <option>2008</option>
                            <option>2007</option>
                            <option>2006</option>
                            <option>2005</option>
                        </select>
                    </td>
                </tr>
            </table>
        </div>
        <div style="padding-left:56%"><input type="button" class="prokart_button" id="proceed" value="Proceed >>" style="height:45px; vertical-align:middle"></div>
        <div id="questionnaire-modal" class="modal" style="background-color: rgba(84, 84, 84, 0.84)">
            <span class="qtscloseother">x</span>
            <div class="modal-content" id="questionnaire-popup-body" style="width:73%; background-color: rgba(245, 245, 245, 0.96); ">
            </div>
        </div>
    </form>
    <div id="prokart-loading-other" class="loader" style="position:absolute; top:50%; left:50%">
    </div>
</body>
</html>
