﻿<link href="~/Resource/css/modal.css" rel="stylesheet" />
<link href="~/Resource/css/button.css" rel="stylesheet" />
<link href="~/Resource/css/jquery-ui.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-2.2.3.min.js"></script>
<script src="~/Scripts/jquery-ui.min.js"></script>
<script src="~/Scripts/price-estimate.js"></script>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PriceEstimate</title>
</head>
<body style="background-image:url(../../Resource/image/background.jpg)">
    <form class="form" method="post" id="price" name="price">
        <input type="hidden" id="from-controller-questionnaire" value="@Session["Questionnaire"]" />
        <div>
            <p style="font-size:22px; font-family:Calibri; padding-left:1%">Based on your device condition and current market value, we can offer you the below mentioned amount..</p>
            <p style="font-size:15px; font-family:Calibri; padding-right:16%">Please note that the price quote is based on the device's lowest configuration available in market. It may varry upon inspection.</p>
            <div style="padding-right:790px">
                <img src="~/Resource/image/rupee.png" />
                <span style="font-size:55px; font-family:Calibri" id="priceValue"></span>
            </div>
        </div>
        <div>
            <p style="font-size:15px; font-family:Calibri; padding-right:36%; padding-top:30px">Payment will be made by our representative by cash after successful inspection of your device.</p>
        </div>
        <div style="padding-left:82.5%; padding-top:50px"><input type="button" class="prokart_button" id="price-estimate-proceed" value="Proceed >>" style="height:46px; vertical-align:middle"></div>
        <div id="prokart-loading-price" class="loader" style="position:fixed; top:50%; left:50%">
        </div>
        <div id="checkout-modal" class="modal" style="background-color: rgba(84, 84, 84, 0.96); width:90%">
            <span class="checkoutclose">x</span>
            <div class="modal-content" id="checkout-popup-body" style=" background-color: rgba(245, 245, 245, 0.96); width:84%; height:82%">
            </div>
        </div>
    </form>
</body>
</html>
