﻿<link href="~/Resource/css/modal.css" rel="stylesheet" />
<link href="~/Resource/css/table.css" rel="stylesheet" />
<link href="~/Resource/css/button.css" rel="stylesheet" />
<link href="~/Resource/css/spin.css" rel="stylesheet" />
<link href="~/Resource/css/radio-button.css" rel="stylesheet" />
<link href="~/Resource/css/jquery-ui.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-2.2.3.min.js"></script>
<script src="~/Scripts/jquery-ui.min.js"></script>
<script src="~/Scripts/questionnaire.js"></script>

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta http-equiv="PRAGMA" content="NO-CACHE">
    <meta http-equiv="CACHE-CONTROL" content="NO-CACHE">
    <meta http-equiv="EXPIRES" content="0">
</head>
<body style="background-image:url(../../Resource/image/background.jpg)">
    <form class="form" method="post" id="questionnaire" name="questionnaire">
        <input type="hidden" id="from-controller-specification" value="@Session["Specification"]" />
        <div>
            <p style="font-size:22px; font-family:Calibri; padding-right:30%">A few things we need to know before we can proceed...</p>
            <p style="font-size:15px; font-family:Calibri; padding-right:49%">In case of not applicable, please choose minimum.</p>
            <input type="hidden" id="brand" />
            <input type="hidden" id="model" />
            <input type="hidden" id="ram-value" />
            <input type="hidden" id="memory-value" />
            <input type="hidden" id="camera-value" />
            <table style="margin:10px auto">
                <thead>
                    <tr>
                        <th>Description</th>
                        <th>Current Condition of Device</th>
                    </tr>
                </thead>
                <tr>
                    <td>Battery Condition</td>
                    <td>
                        <div id="battery">
                            <input type="radio" id="star5-battery" value="1" name="battery" /><label for="star5-battery"></label>
                            <input type="radio" id="star4half-battery" value="2" name="battery" /><label for="star4half-battery"></label>
                            <input type="radio" id="star4-battery" value="3" name="battery" /><label for="star4-battery"></label>
                            <input type="radio" id="star3half-battery" value="4" name="battery" /><label for="star3half-battery"></label>
                            <input type="radio" id="star3-battery" value="5" name="battery" /><label for="star3-battery"></label>
                            <input type="radio" id="star2half-battery" value="6" name="battery" /><label for="star2half-battery"></label>
                            <input type="radio" id="star2-battery" value="7" name="battery" /><label for="star2-battery"></label>
                            <input type="radio" id="star1half-battery" value="8" name="battery" /><label for="star1half-battery"></label>
                            <input type="radio" id="star1-battery" value="9" name="battery" /><label for="star1-battery"></label>
                            <input type="radio" id="starhalf-battery" value="10" name="battery" /><label for="starhalf-battery"></label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Screen Quality</td>
                    <td>
                        <div id="screen">
                            <input type="radio" id="star5-screen" value="1" name="screen" /><label for="star5-screen"></label>
                            <input type="radio" id="star4half-screen" value="2" name="screen" /><label for="star4half-screen"></label>
                            <input type="radio" id="star4-screen" value="3" name="screen" /><label for="star4-screen"></label>
                            <input type="radio" id="star3half-screen" value="4" name="screen" /><label for="star3half-screen"></label>
                            <input type="radio" id="star3-screen" value="5" name="screen" /><label for="star3-screen"></label>
                            <input type="radio" id="star2half-screen" value="6" name="screen" /><label for="star2half-screen"></label>
                            <input type="radio" id="star2-screen" value="7" name="screen" /><label for="star2-screen"></label>
                            <input type="radio" id="star1half-screen" value="8" name="screen" /><label for="star1half-screen"></label>
                            <input type="radio" id="star1-screen" value="9" name="screen" /><label for="star1-screen"></label>
                            <input type="radio" id="starhalf-screen" value="10" name="screen" /><label for="starhalf-screen"></label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Charging Port Condition</td>
                    <td>
                        <div id="charging">
                            <input type="radio" id="star5-charging" value="1" name="charging" /><label for="star5-charging"></label>
                            <input type="radio" id="star4half-charging" value="2" name="charging" /><label for="star4half-charging"></label>
                            <input type="radio" id="star4-charging" value="3" name="charging" /><label for="star4-charging"></label>
                            <input type="radio" id="star3half-charging" value="4" name="charging" /><label for="star3half-charging"></label>
                            <input type="radio" id="star3-charging" value="5" name="charging" /><label for="star3-charging"></label>
                            <input type="radio" id="star2half-charging" value="6" name="charging" /><label for="star2half-charging"></label>
                            <input type="radio" id="star2-charging" value="7" name="charging" /><label for="star2-charging"></label>
                            <input type="radio" id="star1half-charging" value="8" name="charging" /><label for="star1half-charging"></label>
                            <input type="radio" id="star1-charging" value="9" name="charging" /><label for="star1-charging"></label>
                            <input type="radio" id="starhalf-charging" value="10" name="charging" /><label for="starhalf-charging"></label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Camera Condition</td>
                    <td>
                        <div id="cameravalue">
                            <input type="radio" id="star5-camera" value="1" name="camera" /><label for="star5-camera"></label>
                            <input type="radio" id="star4half-camera" value="2" name="camera" /><label for="star4half-camera"></label>
                            <input type="radio" id="star4-camera" value="3" name="camera" /><label for="star4-camera"></label>
                            <input type="radio" id="star3half-camera" value="4" name="camera" /><label for="star3half-camera"></label>
                            <input type="radio" id="star3-camera" value="5" name="camera" /><label for="star3-camera"></label>
                            <input type="radio" id="star2half-camera" value="6" name="camera" /><label for="star2half-camera"></label>
                            <input type="radio" id="star2-camera" value="7" name="camera" /><label for="star2-camera"></label>
                            <input type="radio" id="star1half-camera" value="8" name="camera" /><label for="star1half-camera"></label>
                            <input type="radio" id="star1-camera" value="9" name="camera" /><label for="star1-camera"></label>
                            <input type="radio" id="starhalf-camera" value="10" name="camera" /><label for="starhalf-camera"></label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Heating Problem</td>
                    <td>
                        <div id="heating">
                            <input type="radio" id="star5-heating" value="1" name="heating" /><label for="star5-heating"></label>
                            <input type="radio" id="star4half-heating" value="2" name="heating" /><label for="star4half-heating"></label>
                            <input type="radio" id="star4-heating" value="3" name="heating" /><label for="star4-heating"></label>
                            <input type="radio" id="star3half-heating" value="4" name="heating" /><label for="star3half-heating"></label>
                            <input type="radio" id="star3-heating" value="5" name="heating" /><label for="star3-heating"></label>
                            <input type="radio" id="star2half-heating" value="6" name="heating" /><label for="star2half-heating"></label>
                            <input type="radio" id="star2-heating" value="7" name="heating" /><label for="star2-heating"></label>
                            <input type="radio" id="star1half-heating" value="8" name="heating" /><label for="star1half-heating"></label>
                            <input type="radio" id="star1-heating" value="9" name="heating" /><label for="star1-heating"></label>
                            <input type="radio" id="starhalf-heating" value="10" name="heating" /><label for="starhalf-heating"></label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Software Problem</td>
                    <td>
                        <div id="software">
                            <input type="radio" id="star5-software" value="1" name="software" /><label for="star5-software"></label>
                            <input type="radio" id="star4half-software" value="2" name="software" /><label for="star4half-software"></label>
                            <input type="radio" id="star4-software" value="3" name="software" /><label for="star4-software"></label>
                            <input type="radio" id="star3half-software" value="4" name="software" /><label for="star3half-software"></label>
                            <input type="radio" id="star3-software" value="5" name="software" /><label for="star3-software"></label>
                            <input type="radio" id="star2half-software" value="6" name="software" /><label for="star2half-software"></label>
                            <input type="radio" id="star2-software" value="7" name="software" /><label for="star2-software"></label>
                            <input type="radio" id="star1half-software" value="8" name="software" /><label for="star1half-software"></label>
                            <input type="radio" id="star1-software" value="9" name="software" /><label for="star1-software"></label>
                            <input type="radio" id="starhalf-software" value="10" name="software" /><label for="starhalf-software"></label>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div id="success-alert-modal" class="modal" style="position:fixed; z-index:10000; width:20%; height:9%; left:35%; top:0%; padding-left:0%; background-color:#25deab">
            <div id="success-alert">
                <p style="padding-top:8px; color:#fff9f9">Picture Uploaded SuccessFully..</p>
            </div>
        </div>
        <div id="error-alert-modal" class="modal" style="position:fixed; z-index:10000; width:20%; height:9%; left:35%; top:0%; padding-left:0%; background-color:rgb(247, 176, 176)">
            <div id="error-alert">
                <p id="error-msg" style="padding-top:8px; color:#000000">Failed To Upload Picture.</p>
            </div>
        </div>
        <div id="size-alert-modal" class="modal" style="position:fixed; z-index:10000; width:20%; height:9%; left:35%; top:0%; padding-left:0%; background-color:#3595d5">
            <div id="size-alert">
                <p style="padding-top:8px; color:#fff9f9">Maximum Allowed Size is 200 KB.</p>
            </div>
        </div>
        <div id="count-alert-modal" class="modal" style="position:fixed; z-index:10000; width:20%; height:9%; left:35%; top:0%; padding-left:0%; background-color:#f7c215">
            <div id="count-alert">
                <p style="padding-top:8px; color:rgba(18, 17, 17, 0.96)">Maximum 2 Images Allowed.</p>
            </div>
        </div>  
        <div style="padding-left:74%">
            <input type="button" class="prokart_button" id="proceed-questionnaire" value="Proceed >>" style="height:46px; vertical-align:middle">
        </div>
        <div><input type="file" id="devicePicture" accept="image/*" style="padding-right:56%" multiple data-max-size="204800"></div>

    </form>
    <div id="prokart-loading-questionnaire" class="loader" style="position:fixed; top:50%; left:50%">
    </div>
    <div id="price-modal" class="modal" style="background-color: rgba(84, 84, 84, 0.96); width:90%">
        <span class="priceclose">x</span>
        <div class="modal-content" id="price-popup-body" style=" background-color: rgba(245, 245, 245, 0.96); width:85%; height:65%">
        </div>
    </div>
</body>
</html>
