﻿<link href="~/Resource/css/modal.css" rel="stylesheet" />
<link href="~/Resource/css/jquery-ui.min.css" rel="stylesheet" />
<link href="~/Resource/css/spin.css" rel="stylesheet" />
<script src="~/Scripts/jquery-2.2.3.min.js"></script>
<script src="~/Scripts/jquery-ui.min.js"></script>
<link href="~/Resource/css/button.css" rel="stylesheet" />
<link href="~/Resource/css/search-main.css" rel="stylesheet" />
<script src="~/Scripts/search.js"></script>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <title>Sell Device</title>
</head>
<body style="background-image:url(../../Resource/image/background.jpg)">
    <div>
        <h1>Search your old device here..</h1>
        <p style="padding-right:2%">Below fields will help you to find your correct device model..</p>
        <form class="form" method="post" id="device" name="device">

            <input type="text" class="brand" placeholder="Brand" id="brand" name="brand" />
            <div id="brand-error" class="brand-error">
                <p class="brand-help">Please enter your device brand.</p>
            </div>

            <input type="text" class="model" placeholder="Model Name" id="model" name="model">
            <div id="model-error" class="model-error">
                <p class=" model-help">Please enter your device model.</p>
            </div>
            <input type="hidden" id="modelid" name="modelid" />
            <input type="hidden" id="picturelink" name="picturelink" />
            <div style="padding-left:15%">
                <input type="button" class="prokart_button" id="check_search" value="Proceed >>" style="height:45px;width:auto">
                <a href="~/Sell/OtherDevices" style="padding-right:8%; font-family:Calibri;color:#4d4d4d">Can't find your device?</a>
            </div>
        </form>
    </div>
    <div id="prokart-loading-search" class="loader" style="position:absolute; top:55%; left:48%">
    </div>
    <div id="specification-modal" class="modal" style="background-color: rgba(84, 84, 84, 0.84); width:90%">
        <span class="specclose">
            x
        </span>
        <div class="modal-content" id="specification-popup-body">
        </div>
    </div>
</body>
</html>