﻿<link href="~/Resource/css/modal.css" rel="stylesheet" />
<link href="~/Resource/css/jquery-ui.min.css" rel="stylesheet" />
<link href="~/Resource/css/spin.css" rel="stylesheet" />
<link href="~/Resource/css/button.css" rel="stylesheet" />
<link href="~/Resource/css/table.css" rel="stylesheet" />
<script src="~/Scripts/jquery-2.2.3.min.js"></script>
<script src="~/Scripts/jquery-ui.min.js"></script>
<script src="~/Scripts/specification.js"></script>


@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<body style="background-image:url(../../Resource/image/background.jpg)">
    <input type="hidden" id="from-controller-search" value="@Session["Search"]" />
    <div>
        <form class="form" method="post" id="specification" name="specification" style="margin:-30px auto; margin-left:-5px">

            <div style="float:left">
                <table>
                    <thead>
                        <tr>
                            <th>Option</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody id="specification_table"></tbody>
                </table>
                <input type="hidden" id="brand-name" />
                <div style="padding-left:82.2%"><input type="button" class="prokart_button" id="proceed_specification" value="Proceed >>" style="height:45px; vertical-align:middle"></div>
            </div>
            <div style="width:0px;padding-top:1px;">
                <table style="width:10px; height:0px">
                    <thead>
                        <tr>
                            <th><div><p id="model-name" style="padding: 0px 15px 0px 0px; margin: 0px auto; color:white; font-size:120%">Model Name</p></div></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr><td rowspan="5"><img id="picture" src="" /></td></tr>
                    </tbody>
                </table>
            </div>
        </form>
    </div>
    <div id="prokart-loading-specification" class="loader" style="position:fixed; top:50%; left:50%">
    </div>
    <div id="questionnaire-modal" class="modal" style="background-color: rgba(84, 84, 84, 0.84); width:90%; top:-16px">
        <span class="qtsclose" style="padding-top:22px">x</span>
        <div class="modal-content" id="questionnaire-popup-body" style="width:73%;  background-color: rgba(245, 245, 245, 0.96); ">
        </div>
    </div>
</body>
</html>