﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en" class="no-js">
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Prokart Home</title>
    <meta name="description" content="A perspective slideshow based on Franklin Ta's CSS matrix3d transforms" />
    <meta name="keywords" content="perspective, mockup, slideshow, transform, 3d, matrix, css" />
    <meta name="author" content="Codrops" />
    <link rel="shortcut icon" href="../favicon.ico">
    <link href="~/Resource/css/Landing_Page/normalize.css" rel="stylesheet" />
    <link href="~/Resource/Font/fonts/font-awesome-4.2.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Resource/css/Landing_Page/animate.css" rel="stylesheet" />
    <link href="~/Resource/css/Landing_Page/demo.css" rel="stylesheet" />
    <link href="~/Resource/css/Landing_Page/mockup4.css" rel="stylesheet" />
    <link href="~/Resource/css/modal.css" rel="stylesheet" />
    <link href="~/Resource/css/jquery-ui.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.2.3.min.js"></script>
    <script src="~/Scripts/Landing_Page/modernizr.custom.js"></script>
    <script src="~/Scripts/Landing_Page/home_main.js"></script>

</head>
<body class="demo-4">

    <div id="login-modal" class="modal" style="z-index:1000">
        <span class="loginclose" style="padding-right:30%; padding-top:1.5%">
            x
        </span>
        <div class="modal-content" id="login-popup-body" style="background-color:rgba(0, 0, 0, 0); border:none">
        </div>
    </div>

    <div class="container">
        <div class="codrops-top clearfix">
            <span class="right"><a id="login_signup" class="codrops-icon codrops-icon-drop"><span>Login/SignUp</span></a></span>
            <span class="right"><a id="sell_item" class="codrops-icon codrops-icon-drop"><span>Sell Old Device</span></a></span>
            <span class="right"><a id="device_gallery_one" class="codrops-icon codrops-icon-drop" href=""><span>Gallery</span></a></span>
        </div>
        <div id="wrap" class="wrap">
            <div class="mockup">
                <img class="mockup__img" src="~/Resource/image/Landing_Page/mockup4.jpg" />
                <div class="mobile">
                    <ul id="slideshow-1" class="slideshow">
                        <li class="slideshow__item"><img src="~/Resource/image/Landing_Page/small/1.png" /></li>
                        <li class="slideshow__item"><img src="~/Resource/image/Landing_Page/small/2.png" /></li>
                        <li class="slideshow__item"><img src="~/Resource/image/Landing_Page/small/3.png" /></li>
                        <li class="slideshow__item"><img src="~/Resource/image/Landing_Page/small/4.png" /></li>
                        <li class="slideshow__item"><img src="~/Resource/image/Landing_Page/small/5.png" /></li>
                    </ul>
                </div>
                <div class="screen">
                    <ul id="slideshow-2" class="slideshow">
                        <li class="slideshow__item current"><img src="~/Resource/image/Landing_Page/large/1.png" /></li>
                        <li class="slideshow__item"><img src="~/Resource/image/Landing_Page/large/2.png" /></li>
                        <li class="slideshow__item"><img src="~/Resource/image/Landing_Page/large/3.png" /></li>
                        <li class="slideshow__item"><img src="~/Resource/image/Landing_Page/large/4.png" /></li>
                        <li class="slideshow__item"><img src="~/Resource/image/Landing_Page/large/5.png" /></li>
                    </ul>
                </div>
                <header class="codrops-header">
                    <h1><span>Prokart</span> Store <i>An online store to buy and sell used mobiles of more than hundred brands. <a id="device_gallery_two">View our device gallery</a></i></h1>
                </header>
            </div>
        </div>
    </div>

    <script src="~/Scripts/Landing_Page/classie.js"></script>
    <script src="~/Scripts/Landing_Page/main.js"></script>
    <script>
        (function () {
            new Slideshow(document.getElementById('slideshow-1'));
            setTimeout(function () {
                new Slideshow(document.getElementById('slideshow-2'));
            }, 1750);

            /* Mockup responsiveness */
            var body = docElem = window.document.documentElement,
                wrap = document.getElementById('wrap'),
                mockup = wrap.querySelector('.mockup'),
                mockupWidth = mockup.offsetWidth;

            scaleMockup();

            function scaleMockup() {
                var wrapWidth = wrap.offsetWidth,
                    val = wrapWidth / mockupWidth;

                mockup.style.transform = 'scale3d(' + val + ', ' + val + ', 1)';
            }

            window.addEventListener('resize', resizeHandler);

            function resizeHandler() {
                function delayed() {
                    resize();
                    resizeTimeout = null;
                }
                if (typeof resizeTimeout != 'undefined') {
                    clearTimeout(resizeTimeout);
                }
                resizeTimeout = setTimeout(delayed, 50);
            }

            function resize() {
                scaleMockup();
            }
        })();
    </script>

    <link href="~/Resource/css/Landing_Page/styles.css" rel="stylesheet" />
    <section class="features">
        <h3 class="title">Features and services</h3>
        <p>Genuine mobiles of more than hundred brands, all in one store. You can sell your used mobile or buy an used item from our device gallery at a best price in the market. All the products are cleaned and refurbished before being listed to our product gallery.</p>
        <hr>

        <ul class="grid">
            <li>
                <i><img src="~/Resource/image/Landing_Page/image.png" style="width:65px; height:65px" /></i>
                <h4>Image</h4>
                <p>Picture uploaded by seller, so that you can be aware of the device condition before buying.</p>
            </li>
            <li>
                <i><img src="~/Resource/image/Landing_Page/best_price.png" style="width:65px; height:65px" /></i>
                <h4>Best Price</h4>
                <p>We assure you the best selling price available in the market for your old mobile phone.</p>
            </li>
            <li>
                <i><img src="~/Resource/image/Landing_Page/rating.png" style="width:65px; height:65px" /></i>
                <h4>Rating</h4>
                <p>Device rating given by our expert validators for your btter understanding of device condition.</p>
            </li>

        </ul>
    </section>
    <footer>
        <p>Follow us on</p>
        <ul>
            <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
            <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
            <li><a href="#"><i class="fa fa-github-square"></i></a></li>
        </ul>
        <p>Toll Free number: 1800 80080</p>
        <p>mail us at :  <a href="#">prokart.official@gmail.com</a></p>
    </footer>
</body>
</html>
