﻿<link href="~/Resource/css/modal.css" rel="stylesheet" />
<link href="~/Resource/css/button.css" rel="stylesheet" />
<link href="~/Resource/css/table.css" rel="stylesheet" />
<link href="~/Resource/css/jquery-ui.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-2.2.3.min.js"></script>
<script src="~/Scripts/get_records.js"></script>

@{
    Layout = null;
}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Availability</title>

</head>
<body style="background-image:url(../../Resource/image/background.jpg)">
    <div>
        <div style="float:right">
            <input type="text" id="order-search" placeholder="search by order id" style="background-image:url(../../Resource/image/search-icon.png); background-repeat:no-repeat; text-align:center; height:3%; margin:5px; font-style:italic" />
        </div>
        <div>
            <input type="button" class="prokart_button" id="all" value="All" style="height:45px; vertical-align:middle; float:left; border-radius:0" />
            <input type="button" class="prokart_button" id="processing" value="Processing" style="height:45px; vertical-align:middle; float:left; border-radius:0" />
            <input type="button" class="prokart_button" id="available" value="Available" style="height:45px; vertical-align:middle; float:left; border-radius:0" />
            <input type="button" class="prokart_button" id="sold" value="Sold" style="height:45px; vertical-align:middle; float:left; border-radius:0" />
            <input type="button" class="prokart_button" id="cancelled" value="Cancelled" style="height:45px; vertical-align:middle; float:left; border-radius:0" />
        </div>

    </div>
    <div>
        <table id="list" style="width:100%;">
            <thead>
                <tr>
                    <th style="width:1%;"></th>
                    <th style="width:7%">Order ID</th>
                    <th style="width:15%">Created Time</th>
                    <th style="width:15%">Modified Time</th>
                    <th style="width:8%">Brand</th>
                    <th style="width:13%">Model</th>
                    <th style="width:9%">Release Date</th>
                    <th style="width:6%">RAM</th>
                    <th style="width:6%">Memory</th>
                    <th style="width:6%">Camera</th>
                    <th style="width:6%">Price</th>
                    <th style="width:8%">Availability</th>
                </tr>
            </thead>
        </table>
    </div>
    <div style="padding-left:60.62%;">
        <input type="button" class="prokart_button" id="edit" value="Edit Order" style="height:3.3em;width:12em;border-radius:0px" />
        <input type="button" class="prokart_button" id="change" value="Change Status" style="height:3.3em;width:12em;border-radius:0px" />
        <input type="button" class="prokart_button" id="cancel" value="Cancel Order" style="height:3.3em;width:12em;border-radius:0px" />
    </div>
    <div id="update-records" class="modal" style="display:none; background-color: rgba(84, 84, 84, 0.84)">
        <span class="availabilityclose" style="padding-left:98%">
            x
        </span>
        <div class="modal-content" id="update-modal" style="background-color: rgba(109, 109, 109, 0.45); border:0px solid #888; padding-right:25.5%; margin:15px">
            <div>
                <table id="sorted-list" style="width:100%">
                    <thead>
                        <tr>
                            <th style="width:8%">Order ID</th>
                            <th style="width:10%">Brand</th>
                            <th style="width:10%">Model</th>
                            <th style="width:8%">RAM</th>
                            <th style="width:8%">Memory</th>
                            <th style="width:8%">Camera</th>
                            <th style="width:8%">Bat_Con</th>
                            <th style="width:8%">Scrn_Qlty</th>
                            <th style="width:8%">CP_Con</th>
                            <th style="width:8%">Cam_Con</th>
                            <th style="width:8%">H_Prob</th>
                            <th style="width:8%">S_Prob</th>
                            <th style="width:10%">Price</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div id="submit-div" style="padding-left:179%">
                <input type="button" class="prokart_button" id="submit" value="Submit" style="height:3.3em;width:12em;border-radius:0px" />
            </div>
        </div>
    </div>
</body>
</html>
