﻿<link href="~/Resource/css/jquery-ui.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-2.2.3.min.js"></script>
<script src="~/Scripts/jquery-ui.min.js"></script>
<link href="~/Resource/css/table.css" rel="stylesheet" />
<link href="~/Resource/css/button.css" rel="stylesheet" />
<link href="~/Resource/css/search-main.css" rel="stylesheet" />
<script src="~/Scripts/brand-tire.js"></script>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body style="background-image:url(../../Resource/image/background.jpg)">
    <style>
        table {
            table-layout: fixed;
            width: 800px;
        }

        td {
            width: 85px;
        }
    </style>
    <div>
        <table style="width:100%">
            <thead>
                <tr>
                    <th>Tier 1</th>
                    <th>Tier 2</th>
                    <th>Tier 3</th>
                </tr>
            </thead>
            <tr>
                <td>
                    <select id="tier1" style="width:100%" class="soflow"></select><br />
                </td>
                <td>
                    <select id="tier2" style="width:100%" class="soflow"></select><br />
                </td>
                <td>
                    <select id="tier3" style="width:100%" class="soflow"></select><br />
                </td>
            </tr>
            <tr>
                <td>
                    <select id="tier1option" class="soflow" style="width:59%"><option>Tier 2</option><option>Tier 3</option></select>
                    <input type="button" id="change1" value="Change Tier" class="prokart_button" style="height:45px; vertical-align:middle" />
                </td>
                <td>
                    <select id="tier2option" class="soflow" style="width:59%"><option>Tier 1</option><option>Tier 3</option></select>
                    <input type="button" id="change2" value="Change Tier" class="prokart_button" style="height:45px; vertical-align:middle" />
                </td>
                <td>
                    <select id="tier3option" class="soflow" style="width:59%"><option>Tier 1</option><option>Tier 2</option></select>
                    <input type="button" id="change3" value="Change Tier" class="prokart_button" style="height:45px; vertical-align:middle" />
                </td>
            </tr>
        </table>
        <br /><br /><br />------------------------------------------------------------------------------------<br /><br />
        <input type="button" id="get" value="Get Brands" class="prokart_button" style="height:45px; vertical-align:middle" />
        <input type="button" id="update" value="Update" class="prokart_button" style="height:45px; vertical-align:middle" />
    </div>
</body>
</html>
